<style type="text/css">

#gwt-hook {
	margin:75px;
}

#gwt-hook canvas {
	cursor: pointer;	
}

#links {
}

#links a{ padding: 20px; color: red; text-decoration: none; font-weight:bold; }
#links a:visited { padding: 20px; color: red; text-decoration: none; font-weight:bold; }
#links a:hover { padding: 20px; color: red; text-decoration: none; font-weight:bold; }
#links a:active { padding: 20px; color: red; text-decoration: none; font-weight:bold; }

img {
	border:0px;	
}

a:link {color:black; text-decoration:none;}
a:visited {color:black; text-decoration:none;}
a:hover {color:black; text-decoration:none;}
a:active {color:black; text-decoration:none;}

.content {
	width: 500px;
	text-align: left;
	padding-left: 15px;
	padding-top: 5px;
}

.content ul{
	margin-top: 0px;
}

.title {
	margin-top:25px;
	font-weight: bold;
	width: 500px;
	text-align: left;	
}

.row {
	width: 550px;
}

.label {
	float: left;
	width: 200px;
	text-align: right;
	color: gray;
	margin: 3px;
}

.input {
	text-align: left;
	width: 200px;
}

.input input {
	width: 200px;
	margin: 3px;
	border:#CCCCCC solid 1px;	
}

.input textarea{
	width: 200px;
	height: 75px;
	margin: 3px;
	border:#CCCCCC solid 1px;	
}

.error input {
	background-color:#FFBBBB;
}

.submitRow {
	width: 400px;
	text-align: center;
	padding: 20px;
}

.title a:link { color: red; text-decoration: none; padding: 3px; }
.title a:visited { color: red; text-decoration: none; padding: 3px; }
.title a:hover { color: red; text-decoration: none; padding: 3px; }
.title a:active { color: red; text-decoration: none; padding: 3px; }

.centered {
	text-align:center;	
}
</style>